<strong>Olá, {{student}} seja muito bem vindo(a)</strong>
<p>A sua matrícual acabou de ser criada</p>
<p>
    <strong>Data da matrícula: </strong> {{dateStart}} <br />
    <strong>Plano: </strong> {{plan}} <br />
    <strong>Valort total: </strong> {{total}} R$ <br />
    <strong>Validade do plano: </strong> até {{dateEnd}} <br />

    <br />
    <small>
        Você já pode comecar a se exercitar. ;) <br />
        Obrigado por fazer parte da nossa família.
    </small>
</p>